
mashboard.app {
	@cors_options method OPTIONS
	handle @cors_options {
		respond "" 204
	}

	handle /* {
		reverse_proxy client-server:3030
	}
}

api.mashboard.app {
	handle /* {
		reverse_proxy server:8080
		header Access-Control-Allow-Origin *
		header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		header Access-Control-Allow-Headers "Content-Type, Authorization"
	}
}

mail.mashboard.app {
	tls internal

	@smtp {
		protocol smtp
	}

	handle @smtp {
		reverse_proxy mail:25
	}
}

:25 {
	handle {
		reverse_proxy mail:25
	}
}
