{
    storage file_system /data
}


mashboard.app {
	encode gzip zstd

	@cors_options method OPTIONS
	handle @cors_options {
		respond "" 204
	}

	handle /* {
		reverse_proxy mystack_client:3030
	}
}

api.mashboard.app {
	handle /* {
		reverse_proxy mystack_server:8080
	}
}

mail.mashboard.app {
    tls internal
}

