---
import Layout from "../layouts/Layout.astro";
import Audio from "../components/Audio.astro";
import Card from "../components/Card.astro";
import CardCarousel from "../components/CardCarousel.astro";
import { record } from "astro:schema";

const response = await fetch("http://localhost:8080/api/feeds/items");
const { feeds: feedItems } = await response.json();
// feedItems.map((feed: any) => console.log(`Feed ${feed.id}: ${feed.link}`));
console.log(feedItems.length);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="px-4">
		<Card />
		<div class="flex flex-col gap-4">
			{
				feedItems.map((feed: any) => (
					<Card
						title={feed.title}
						imgSrc={
							feed.image
								? feed.image
								: "https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
						}
					/>
				))
			}
		</div>
	</div>
</Layout>
