---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import RegisterRSSForm from "../components/RegisterRSSForm.astro";
---

<Layout>
	<div class="px-4">
		<RegisterRSSForm />
		<div id="feed-container" class="flex flex-col gap-4 pb-16"></div>
	</div>
</Layout>

<script>
	const fetchFeeds = async () => {
		try {
			const response = await fetch(
				"http://localhost:8080/api/feeds/items",
			);
			const { feeds } = await response.json();
			const container = document.getElementById("feed-container");

			// Clear any existing content
			if (container) {
				container.innerHTML = "";

				feeds.forEach((feed) => {
					const card = `
					<div class="card">
						<img src="${feed.image || "https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"}" alt="feed item image">
						<h2>${feed.title}</h2>
					</div>
				`;
					container.innerHTML += card;
				});
			}
		} catch (err) {
			console.error("Error fetching feeds:", err);
		}
	};

	fetchFeeds();
</script>
