<!doctype html>
<html lang="en" data-theme="cupcake">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
		<link rel="stylesheet" href="/src/static/global.css" />
		<title>Mashboard</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
