---
export interface Props {
    title: string;
    imgSrc: string;
    altText: string;
}

const { title, imgSrc, altText } = Astro.props;
---

<div>
    <div class="card bg-base-100 shadow-sm max-w-sm">
        <figure class="w-full h-48">
            <img
                src={imgSrc
                    ? imgSrc
                    : "https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"}
                alt={altText ? altText : "Shoes"}
                loading="lazy"
                class="object-cover w-full h-full"
            />
        </figure>
        <div class="card-body">
            <h2 class="card-title line-clamp-2 overflow-ellipsis">
                {title ? title : "Card Title"}
            </h2>
        </div>
    </div>
</div>
